$bg-dark-mode: #000;
$white-text: #fff;
nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    border: none;
    background: transparent;
    cursor: pointer;
    border: 2px solid rgb(65, 65, 65);
    padding: 0.5rem;
    transition: all 0.3s ease;
    &:hover {
      color: white;
      background: rgb(65, 65, 65);
    }
  }
}
.active-dark-colour {
  body {
    background: #000;
    color: #fff;
  }
}
@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}
